$color__primary: #333;
$color__secondary: #7d7f81;
$color__background: #ECF3F8;
$color__accent: #2481cc;
$color__telegram: #28A7E8;
$color__main: #fff;
$color__success: #0EB25F;
$color__success-light: #b5fed9;
$color__danger: #c61717;
$color__danger-light: #feeae4;
$color__warning: rgb(237, 233, 30);
$color__warning-light: #fcf8e3;
$color__menu: #E660B3;
$color__menu-dark: #c52b8a;
$color__button: #FFA400;
$color__button-dark: #c07d00;