@import '@/assets/sassStyles/colors';
@import '@/assets/sassStyles/placeholders';

.nfc {
  &__success {
    background-color: $color__success-light;
  }

  &__failture {
    background-color: $color__danger-light;
  }

  &__button {
    &--record {
      @extend %button-medium;

      transition: opacity 0.3s ease-in-out;
    }

    &--disabled {
      opacity: 0.6;
      pointer-events: none;
    }
  }
}
